body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  max-width: 1440px;
  margin: 0px auto;
}
.wrapper .column {
  width: 26.3888888889%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 150px 40px;
}
.wrapper .column:last-child {
  width: 29.6296296296%;
}
.wrapper .card {
  width: 100%;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 20px 18px 20px;
  margin: 0px 0px 40px 0px;
}
.wrapper .card fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.wrapper .card fieldset label {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  color: #1F2041;
}
.wrapper .card fieldset .content_container {
  float: left;
  width: 46%;
}
.wrapper .card fieldset .content_container:nth-child(2) {
  float: right;
}
.wrapper .card fieldset .content_container .select_container {
  background: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  border: 1px solid rgba(31, 32, 65, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .card fieldset .content_container .select_container select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);
  text-transform: uppercase;
  width: 100%;
  margin: 13px 0px 13px 10px;
}
.wrapper .card fieldset .content_container .select_container img {
  margin-left: auto;
  margin-right: 8px;
}
.wrapper .card fieldset .content_container.guests {
  width: 100%;
  margin-top: 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.wrapper .card fieldset .content_container.guests select {
  text-transform: none;
}
.wrapper .card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}
.wrapper .card form label {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}
.wrapper .card .button_container {
  margin-top: 20px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .card .button_container input {
  cursor: pointer;
  background: none;
  border: none;
  width: 100%;
  margin: 14.5px 0px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  vertical-align: middle;
}
.wrapper .card .button_container img {
  float: left;
  margin: 0px 10px 0px auto;
}
.wrapper .card span {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

.card.card-services header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.card.card-services header .lux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card.card-services header .lux .lux-sign {
  font-size: 0.7em;
  margin: 2px -3px 0px 0px;
}
.card.card-services header .lux .lux-number {
  margin: auto 0px auto 5px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}
.card.card-services header .lux .lux-text {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  margin: auto 0px auto 5px;
  color: #BC9CFF;
}
.card.card-services header .price_container {
  margin: auto 0px auto auto;
}
.card.card-services header .price_container .services-price {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  color: rgba(31, 32, 65, 0.5);
}
.card.card-services header .price_container .services-text {
  color: rgba(31, 32, 65, 0.5);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.card fieldset .content_container.rooms {
  margin-bottom: 15px;
}
.card fieldset .price_container .price {
  margin-top: 5px;
}
.card fieldset .price_container .price span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(31, 32, 65, 0.75);
}
.card fieldset .price_container .price .price-amount {
  white-space: nowrap;
}
.card fieldset .price_container .price span:nth-child(2) {
  float: right;
}
.card fieldset .price_container .price.discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.card fieldset .price_container .price.discount span {
  margin: auto auto auto 0px;
}
.card fieldset .price_container .price.discount span:first-child {
  width: 100%;
  float: left;
}
.card fieldset .price_container .price.discount span:last-child {
  float: right;
}
.card fieldset .price_container .price.discount img {
  margin: auto 33px auto 0px;
}
.card fieldset .price_container .price.services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card fieldset .price_container .price.services span:first-child {
  float: left;
  width: 100%;
}
.card fieldset .price_container .price.services img {
  margin: 0px 15px 0px auto;
}
.card fieldset .price_container .price.services .thr {
  float: right;
  margin: auto 0px;
}
.card fieldset .total {
  margin: 10px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 19px;
  line-height: 23px;
  font-weight: 700;
}
.card fieldset .total span:first-child {
  text-align: left;
  width: 50%;
}
.card fieldset .total span:last-child {
  width: 50%;
  text-align: right;
}